.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 0.9em;
  color: #333;
}

.inputElement {
  color: #333;
  width: 100%;
  padding: 0.9rem 1rem;
  border: 1px solid #ccd0d5;
  border-radius: 6px;
  font-size: 1rem;
  margin-top: 0.3rem;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: #f0f2f5;
}

.inputElement:focus {
  outline: none;
  border-color: #1877f2;
  box-shadow: 0 0 0 2px rgba(24, 119, 242, 0.2);
}
.inputElement::placeholder {
  color: #aaa;
}

/* Style for visually hidden labels (for accessibility) */
.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
